<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon.png">
  <title>Error</title>
</head>

<body>
  <h2>An error has occured</h2>
</body>

</html>