<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="/public/stylesheets/signin.css" rel="stylesheet">
    <title>About</title>
</head>

<html>

<body>
    <form method="GET" action='/users/signinPage' class="about">
        <img class="mb-4" src="/public/images/ap_transparent.png" alt="AP" width="80%">
        <h1 class="h3 mb-3 font-weight-normal"><span class="ap_span">|&nbsp&nbsp&nbsp</span>Welcome <%= username %>!
        </h1>
        <button class="btn btn-lg btn-primary btn-block" id="loginButton">Sign out</button>
    </form>
</body>

</html>